body, html {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  font-size: 14px;
  color:rgba(0,0,0,.87);
  margin:0;
  height: 100%;
  font-family: Apple-System,Arial,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,STXihei,sans-serif;
}
body {
  margin: 0;
}
.login-content {
  background-size:cover;
  background-position:center;
  min-height: 100%;
  min-width: 320px;
  display:flex;
  justify-content:center;
  flex-direction:column;
}
.login-content .box {
  width: 448px;
  border-radius: 8px;
  /*background-color: #ffffff;*/
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);*/
  margin: auto;
  /*height: 500px;*/
}
.login-content .box .box-container {
  width:100%;
  padding-left: 32px;
  padding-bottom: 40px;
}
.login-content .box .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
}
.login-content .box .application-name {
  width: 270px;
  font-family: Muli;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #0055B8;
  margin-left: 32px;
  margin-top: 40px;
}
.login-content .box .form {
  margin-left: 32px;
  margin-top: 55px;
  margin-bottom: -55px;
}
.login-content .box .login-field {
/*  width: 320px;
  height: 24px;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: #fff; */
	width: 280px;
    padding: 10px 20px;
    font-size: 14px;
    margin: 8px 0 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    opacity: .8;
    background: none;
}
.login-content .box input[type="text"]:focus, .login-content .box input[type="password"]:focus {
  border-bottom: 2px solid #0055B8;
}
.login-content .box input[type="text"]:-webkit-autofill, .login-content .box input[type="password"]:-webkit-autofill
{
  box-shadow: 0 0 0px 1000px white inset;
}
.login-content .box .submit{
  width: 320px;
  height: 36px;
  border-radius: 2px;
  background-color: #4e5090;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-style: none;
  margin-top: 50px;
  margin-bottom: 10px;
}
.login-content .box .visibility {
  position: relative;
  left: 288px;
  top: 38px;
  width: 24px;
  height: 24px;
  opacity: 0.54;
  border: none;
  z-index: 100;
}
.login-content .box .copyright {
  min-width: 320px;
  text-align: left;
  font-size: 14px;
  opacity: .54;
  position: relative;
  top: 100px;
  font-size: 10px;
  font-weight: 700;
  font-family: Apple-System,Arial,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,STXihei,sans-serif;
}
.message-text {
  width: 322px;
  height: 22px;
  opacity: 0.87;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: -0.4px;
  text-align: left;
  color: #b8082a;
  border: 0px;
  position: relative;
  top: 120px;
  left: 64px;
  display: inline-flex;
  align-items: center;
}
.identity-providers {
  width: 270px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #0055B8;
  margin-left: 32px;
  margin-top: 20px;
}

.login-content .box .social-link-style {
  width: 320px;
  height: 36px;
  border-radius: 2px;
  background-color: var(--white);
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00754a;
  border-style: solid;
  border-color: #00754a;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.login-content .box .para {
  font-family: Muli;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 150px;
}

.login-content .box #social-providers {
	margin-top: 50px;
}

.login-content .box .alternate-wrapper {
	position: relative;
	top: 30px;
	left: -30px;
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    place-content: stretch space-between;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    overflow: visible;
}

.login-content .box .alternate-wrapper .separator {
	border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(237, 239, 241);
    box-sizing: content-box;
    display: block;
    height: 0px;
    margin: 16px auto;
    padding: 0px;
    width: 30%;
}

.login-content .box .alternate-wrapper .login-alternate-spacer {
	display: block;
    flex: 0 1 0%;
    height: 8px;
    min-width: 12px;
    width: 12px;
}

.login-content .box .alternate-wrapper .login-alternate {
	color: rgb(105, 117, 127);
    font-size: 16px;
	width: 12px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
}

/*Logout*/
#kc-logout {
	width: 320px;
    height: 36px;
    border-radius: 2px;
    background-color: #139da5;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-style: none;
    margin-top: 50px;
    margin-bottom: 10px;
	font-family: Apple-System,Arial,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,STXihei,sans-serif;
}

.login-content .box #kc-logout-confirm .instruction {
		text-align: center;
		font-size: 1.3rem;
}

#kc-form-buttons {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding-bottom: 20px;
}

#kc-logout-go-back {
	width: 320px;
    height: 36px;
    border-radius: 2px;
    background-color: var(--white);
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00754a;
    border-style: solid;
    border-color: #00754a;
    margin-top: 10px;
    margin-bottom: 10px;
	font-family: Apple-System,Arial,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,STXihei,sans-serif;
}
